body {
    font-family: "Verdana";
    background-color: #0d1117;
    color: #ffffff;
    line-height: 1.1;
}
header {
    position: relative;
}
header nav {
    position: absolute;
    bottom: 0;
    right: 15px;
}
header nav ul li {
    display: inline;
    margin-left: 10px;
    font-size: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: #dfdf00;
    transition: color 0.3s ease-in-out;
}
header nav ul li a:hover {
    color: #969600;
}