@font-face {
    font-family: "Michelin Bold";
    src: url("/src/font/michelin-bold.ttf");
}

body {
    font-family: "Arial";
    background-color: #0d1117;
    color: #fff;
    line-height: 1.1;
}


/* Cabeçalho */
header {
    background-color: #000000bf;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header img {
    margin: 15px;
}
header nav {
    position: absolute;
    font-family: "Michelin Bold";
    margin: 15px;
    bottom: 0px;
    right: 0px;
}
header nav li {
    float: left;
    margin-left: 15px;
    font-size: 20px;
}
header nav a {
    text-decoration: none;
    color: #dfdf00;
    transition: color 0.3s ease-in-out;
}
header nav a:hover {
    color: #969600;
}

/* Conteudo */
#content div {
    position: relative;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 150px;
    padding-bottom: 50px;
}
#content img {
    margin: 15px;
}
#content h1 {
    color: #e49e0f;
    font-size: 50px;
    margin: 15px;
}
#content h2 {
    margin: 15px;
    font-size: 50px;
}
#content h3 {
    margin: 15px;
}
#content p {
    margin: 15px;
}
#content a {
    color: #427fdb; 
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Rodapé */
footer {
    background-color: #000000bf;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}
footer p {
    margin: 10px;
}


/* Tela < 800px */
@media (max-width: 800px /* min-width: 450px */) {
    /* Cabeçalho */
    header img {
        margin: 15px;
    }
    header nav {
        margin: 15px;
    }
    header nav li {
        float: initial;
        margin-left: 15px;
        font-size: 20px;
    }

    /* Conteudo */
    #content div {
        top: 150px;
        margin-left: 5%;
        margin-right: 5%;
    }
    #content img {
        margin: 15px;
    }
    #content h1 {
        font-size: 50px;
        margin: 15px;
    }
    #content h2 {
        margin: 15px;
        font-size: 50px;
    }
    #content h3 {
        margin: 15px;
    }
    #content p {
        margin: 15px;
    }

    /* Rodapé */
    footer p {
        margin: 10px;
    }
}